// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// RETIRADO DO BOOTSTRAP
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14
$font-size-base: 14px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px
//** Border color for table and cell borders.
$table-border-color: #ddd !default;
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
    @media screen and (max-width: $screen-xs-max) {
        width: 100%;
        margin-bottom: ($line-height-computed * 0.75);
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid $table-border-color;
        // Tighten up spacing
        >.table {
            margin-bottom: 0;
            // Ensure the content doesn't wrap
            >thead,
            >tbody,
            >tfoot {
                >tr {
                    >th,
                    >td {
                        white-space: nowrap;
                    }
                }
            }
        }
        // Special overrides for the bordered tables
        >.table-bordered {
            border: 0;
            // Nuke the appropriate borders so that the parent can handle them
            >thead,
            >tbody,
            >tfoot {
                >tr {
                    >th:first-child,
                    >td:first-child {
                        border-left: 0;
                    }
                    >th:last-child,
                    >td:last-child {
                        border-right: 0;
                    }
                }
            }
            // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
            // chances are there will be only one `tr` in a `thead` and that would
            // remove the border altogether.
            >tbody,
            >tfoot {
                >tr:last-child {
                    >th,
                    >td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

@for $i from 1 through 100 {
    .padding-#{$i} {
        padding: 0px + $i;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 1.5em;
    }
}

nav {
    margin-bottom: 40px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.diary-table-header-row {
    background: #039be5;
    color: #fff;
}

.diary-table-header-cell {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #dadada;
}

.diary-table-body-row {}

.diary-table-body-cell {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.diary-table-body-cell input[type="text"] {
    border-bottom: none !important;
    outline: none !important;
    color: inherit !important;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-clients-row {
    display: flex;
}

.modal-clients-cell {
    flex-basis: 33%;
}